@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'OUTFIT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #b91c1c, #1f2937); /* Adjusted to use correct color names */
    overflow: hidden; /* Prevents scrollbar on swipe */
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    height: 100%; /* Ensure the container takes full height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
}

.card {
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #292830;
    cursor: grab;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card.moving {
    transition: none;
    cursor: grabbing;
}

.card.removed {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}

.cover img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-content {
    font-family: 'Outfit', sans-serif;
    color: #fafafa;
}

.card-content h4 {
    font-size: 24px;
}

.card-content p {
    font-size: 19px;
    color: hsl(0, 0%, 70%);
}

.swipe-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.swipe-buttons button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 10px;
}

.swipe-buttons button img {
    width: 80px;
    height: 80px;
}

.swipe-buttons button:focus {
    outline: none;
}

.fa-heart {
    color: #4CAF50;
}

.fa-remove {
    color: #FF5722;
}
